@charset "UTF-8";

html {
  height: 100%;
  width: 100%;
}

* {
    margin: 0px;
}



body{
    background-color: rgb(32, 31, 31);
    height: 100%;
}

nav{
    background-color: rgb(32, 31, 31);

    padding: 10px;
    display: flex;
    justify-content: end;
}

nav > a {
    padding: 10px;
    text-decoration: none;
    color: white;
    height: 10px;
    border-radius: 10px;
}

nav > a:hover {
background-color: rgba(71, 70, 70, 0.63);
color: rgb(237, 250, 60);

}

header{
    margin-bottom: -20em;

}

.logo{
display: flex;
position: relative;
top: -15em;
margin: auto;
max-width: 100%;

}

main > article > div.character{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, rgb(70, 69, 69), rgb(48, 47, 47));
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: -10px;
}

main > article > div.character > div.mid{
    text-align: center;
    background-image: url(img/deku___bnha_wallpaper_by_spukycat_dbu7lgw-fullview.jpg);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
    background-size: 250px 250px;
    height: 250px;
    margin-bottom: 45px;
}


main > article > div.character > div.mid > h2{
   background-image: url(img/Sem\ Título-2.jpg);
   box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    position: relative;
    padding-left: 30%;
    top: -10px;
    padding-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main > article > div.character > div.mid:hover{
width: 220px;
height: 250px;
padding-left: 20px;
box-shadow: 1px 1px 20px rgb(189, 39, 39);
transition-duration: 0.6s;
}



main > article > div.character > div.tod{
    text-align: center;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
    background-image: url(img/842139.png);
    background-size: 250px 250px;
    height: 250px;
    margin-bottom: 45px;
}

main > article > div.character > div.tod > h2{
    background-image: url(img/Sem\ Título-2.jpg);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
     display: flex;
     position: relative;
     padding-left: 28%;
     top: -10px;
     padding-bottom: 20px;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
 }

 main > article > div.character > div.tod:hover{
    width: 220px;
    height: 250px;
    padding-left: 20px;
    box-shadow: 1px 1px 20px rgb(189, 39, 39);
    transition-duration: 0.6s;
    }


 main > article > div.character > div.bac{
    text-align: center;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
    background-image: url(img/701899.png);
    background-size: 250px 250px;
    height: 250px;
    margin-bottom: 45px;
    transition-duration: 0.6s;
}

main > article > div.character > div.bac > h2{
    background-image: url(img/Sem\ Título-2.jpg);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
     display: flex;
     position: relative;
     padding-left: 25%;
     top: -10px;
     padding-bottom: 20px;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
 }

 main > article > div.character > div.bac:hover{
    width: 220px;
    height: 250px;
    padding-left: 20px;
    box-shadow: 1px 1px 20px rgb(189, 39, 39);
    }

main > article > h1 {
    background-color: rgb(32, 31, 31);
    text-indent: 30px;
    padding: 20px;
    color: aliceblue;
    font-family:  Arial, Helvetica, sans-serif;
    margin-top: 10px;

}

main > article > aside > div.media {
    background-color: rgb(32, 31, 31);
    text-indent: 30px;
    padding: 20px;
    color: aliceblue;
    font-family:  Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

main > article > aside {
    background-color: rgb(32, 31, 31);
}

main > article > div.video, .video1, .video2{
    background-color: rgb(32, 31, 31);
    padding: 10%;
    padding-bottom: 50%;
    position: relative;

}

main > article > div.video > iframe  {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    box-shadow: 1px 15px 20px rgba(0, 0, 0, 0.397);
}

main > article > div.video1 > iframe  {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    box-shadow: 1px 15px 20px rgba(0, 0, 0, 0.397);
}

main > article > div.video2 > iframe  {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    box-shadow: 1px 15px 20px rgba(0, 0, 0, 0.397);

}

main > article > aside {
    display: grid;
    position: relative;
    margin: auto;

}

main > article > aside.info > h3 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom, rgb(16, 112, 16),rgb(39, 155, 39));
    color: white;
    width: 80%;
    max-width: 80%;
    margin: auto;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
 }

 main > article > aside.info > h3 > a {
    text-decoration: none;
 }

 main > article > aside.info > p.infot{
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    max-width: 80%;
    width: 80%;
    margin: auto;

    background-color: white;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.432);
 }


main > article > aside.info > p.infop , p.infop2{
   text-align: justify;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   padding: 10px;
   max-width: 80%;
   width: 80%;
   margin: auto;
   background-color: white;

}

main > article > aside.info > p.infod{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    max-width: 80%;
    width: 80%;
    margin: auto;
    background-image: linear-gradient(to top, rgb(9, 66, 9),rgb(53, 204, 53));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 }

 main > article > aside.info > p.infod > a {
text-decoration: none;
font-weight: bold;
color: white;
font-size: 25px;
background-color: rgb(29, 216, 38);
padding: 10px;
border-radius: 30px;
 }

 main > article > aside.info > p.infod > a:hover {
    border-radius: 30px;
   color: rgb(240, 41, 6);
   background-color: rgb(129, 236, 134);
 transition: 0.6s;
     }

footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-indent: 30px;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin-top: 10px;
    display: flex;

}

footer > a > img.inst{
    width: 20px;
    height: 20px;
    position: relative;
  margin-left: -30%;
  margin-right: -10px;
}

footer > a > img.wp{
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: -30%;
    margin-right: -10px;
}

footer > a > img.git{
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: -30%;
    margin-right: -10px;
}

footer > img.dan{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: -20px;
    position: relative;
}






.back {
    width: 100%;
    height: 20px;
    background-color: rgb(110, 28, 28);
    margin: 0PX;
}




